#slideshowcontainer {
	width: 500px;
	height: 350px;
	margin: 0 auto 0 auto;
	position: relative;
}

#slideshow {
	width: 500px;
	margin: 0 auto 0 auto;
}

#slideshow img {
	width: 500px;
	height: 300px;
	display: none;
	position: absolute;
	overflow: hidden;
}

#images {
}

.picnav {
	width: 30px;
	font-size: 30px;
	position: absolute;
	background-color: #6699FF;
	z-index: 9999;
}

.arrows:link, .arrows:visited {
	text-decoration: none;
	color: #ccffff;
}

.arrows:hover, .arrows:active {
	color: #0000aa;
}

#picnavleft {
	left: 0;
	text-align: center;
	padding: 5px;
}

#picnavright {
	right: 0;
	text-align: center;
	padding: 5px;
}

#thumbnails {
	clear: both;
	padding: 10px 0 10px 0;
	white-space: nowrap;
	overflow-x: scroll;
}

#thumbnails img{
	display: inline;
	width: 100px;
	margin: 5px;
}